<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
        		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        		<style type="text/css">
        			
        			span{
        				font-family: Swiss;
        				color: steelblue;
        				border: 3px yellow solid;
        			}
        		</style>	
        			
    </head>
    <body>


    	   <% if (!currentUser) { %>
                <li><a href="/sessions/new">Log In</a></li>
                <li><a href="/users/new">Register</a></li>
           <% }else { %>

    	<!-- if user have logged in show below -->
   
        <h1>YOU HAVE <span>BEEN_TO</span> :</h1>

        <% for ( let i = 0 ; i < place.length ; i++) { %>
        	

        		
        			<ul class="collection with-header"></ul>
        			
        			<li ><a href="/place/<%= place[i].id %>/"><%= place[i].location %></a></li>
        			<li><%= place[i].duration%></li>
        			<li><%= place[i].date %></li>
        			<li><i>$</i><%= place[i].expense %></li>
        			<li><%= place[i].fun %></li>
        		
        		
        		<a class="card-panel pink lighten-3" href="/place/<%= place[i].id %>/edit">Edit</a><br/>
        		
  <%  }  %>

 				 <a class="btn-floating btn-large waves-effect waves-light red" href="/place/new"><i class="material-icons">add</i></a>
 <%  }  %>
    </body>
</html>