<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
        		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">	
        			
    </head>
    <body>
        <h1>Your Places!</h1>

        <% for ( let i = 0 ; i < place.length ; i++) { %>
        		<div class="collection">
        		<li class="">
        			
        			<a href="/place/<%=i%>"><%= place[i].location %></a><br/>
        			<%= place[i].duration%><br/>
        			<%=place[i].date %><br/>
        			<%= place[i].expense %><br/>
        			<%= place[i].fun %>
        		</li>
        		
        		<a class="card-panel pink lighten-3" href="/place/<%= place[i].id %>/edit">Edit</a>
        		</div>
  <%  }  %>



  <a class="btn-floating btn-large waves-effect waves-light red" href="/place/new"><i class="material-icons">add</i></a>
    </body>
</html>