<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>show place</title>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
        <h1>show</h1>
        <img src="<%= place.img %>"><br/>
      You were in <%= place.location %><br/>
        On <%= place.date %><br/>
        You spent<%= place.duration %><br/>
        and you spent <%= place.expense %>!<br/>
        
        <% if(place.fun === true) { %>

        	You Had Fun , Coool.
       <% }else{ %>

       		Awww, maybe not this place
        <% } %>
    </body>
</html>